<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="stylesheets/custom.css">
      <script src="/jquery/dist/jquery.min.js"></script>
   </head>
   <body>
     <% include partials/nav %>
      <div class="container-fluid">
         <div class="row content">
           <% include partials/left-nav %>
            <div class="col-sm-9">
               <div class="well">
                  <h4><%=title%></h4>
                  <p>Watson Social CRM Dashboard built using Node.js, jQuery, Bootstrap and Chart.js libraries.</p>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="well">
                       <div id="chat-container" style="height:280px;">
                       </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/bootstrap-table/dist/bootstrap-table.min.js"></script>
      <script src="/js/chat.js"></script>
      <script>
      $(document).ready(function() {
        var chat = $('#chat-container').initChatContainer({
          add_passage_callback : function(msg) {
            var url = 'api/web/conversation';
            $.post(url, { text : msg }, function(data) {
                chat.addPassageRight(data.output.text);
            });
          }
        });
      });
      </script>
   </body>
</html>
