<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="stylesheets/custom.css">
   </head>
   <body>
     <% include partials/nav %>
      <div class="container-fluid">
         <div class="row content">
           <% include partials/left-nav %>
            <div class="col-sm-9">
               <div class="well">
                  <h4><%=title%></h4>
                  <p>Watson Social CRM Dashboard built using Node.js, jQuery, Bootstrap and Chart.js libraries.</p>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="well">
                       <table id="data-table"></table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/bootstrap-table/dist/bootstrap-table.min.js"></script>
      <script src="/js/data.js"></script>
      <script>
      $(document).ready(function() {
        var $table = $('#data-table').bootstrapTable({
          url: '/api/socialdata',
          pagination : true,
          sidePagination: 'server',
          columns: [{
                field: 'text',
                title: 'Text'
            }, {
                field: 'source_id',
                title: 'From'
            }, {
                field: 'created_at',
                title: 'When'
            },{
                field: 'source_system',
                title: 'Source'
            }]
        });
      });
      </script>
   </body>
</html>
