<div class="col-sm-2 sidenav hidden-xs">
   <h2><img src="images/IBM_Watson_avatar_simple_2color.png" height="48"></img>  Watson</h2>
   <ul class="nav nav-pills nav-stacked">
      <li id="dashboard-nav">
         <a href="/">Dashboard</a>
      </li>
      <li id="chat-nav">
         <a href="/chat">Chat</a>
      </li>
      <li id="data-nav">
         <a href="/data">Data</a>
      </li>
   </ul>
   <br>
</div>
<br>
